<!-- breadcrumb -->
<div class="container-fluid wrapper-shopping-cart">
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index" class="stext-109 cl8 hov-cl1 trans-04">
				Trang chủ
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Đơn hàng
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->

	<div class="container shop">
		<div class="row">
			<div class="order-info col-md-9">                
				<ul class="row m-b-20">
					<h5 class="col-sm-12 txt-err show-err">Đơn hàng của tôi</h5>
                </ul>

                {{#each order}}
                <!--first order-->
                <div class="wrapper-order">
                    <div class="header-order row">
                        <div class="code-order col-md-6">
                            <span>Mã đơn hàng:</span>
                            <span class="font-bold"><i>{{id}}</i></span>
                        </div>
                        <div class="state-order txt-right col-md-6">
                            <span>Trạng thái:</span>
                            <h5 class="dis-inline">{{status}}</h5>
                        </div>
                    </div>
                    
                    {{#each items}}
                    <ul class="row-order row">
                        <li class="col-md-4">
                            <div class="how-itemcart1">
                                <img class="img-order" src="{{img}}" alt="IMG">
                            </div>
                        </li>
                        <li class="col-md-4">
                            <p>{{title}}</p>
                            <p>x{{quantity}}</p>
                        </li>
                        <li class="col-md-4">720 000₫</li>                        
                    </ul>
                    {{/each}}
                    <hr class="border-b">
                    <div class="row-total row">
                        <div class="m-l-auto m-r-30">
                            <span class="total">Tổng:</span>
                            <span class="price"><b>{{totalPrice}}₫</b></span>
                        </div>
                    </div>
                    <hr/>
                </div>
                {{/each}}               
			</div>			
		</div>
	</div>
</div>