{{#with model}}
<div class="col-md-6 col-lg-7 p-b-30">
    <div class="p-l-25 p-r-30 p-lr-0-lg">
        <div class="wrap-slick3 flex-sb flex-w">
            <div class="wrap-slick3-dots"></div>
            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
            <div class="slick3 gallery-lb">
                {{#each img}}
                <div class="item-slick3" data-thumb="{{this}}">
                    <div class="wrap-pic-w pos-relative">
                        <img src="{{this}}" alt="IMG-PRODUCT">
                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{this}}">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-lg-5 p-b-30">
    <div class="p-r-50 p-t-5 p-lr-0-lg">
        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
            {{ title }}
        </h4>

        <span class="mtext-106 cl2">

            {{ this.price }}₫

        </span>

        <p class="stext-102 cl3 p-t-23">
            {{{ this.info }}}
        </p>
        <div class="p-t-33">
            <div class="flex-w flex-l-m p-b-10">
                <div class="size-204 flex-w flex-m respon6-next">
                    <button id="{{_id}}"
                        class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail addToCartInQuickly">
                        Thêm vào giỏ
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}

<script src="js/slick-custom.js"></script>

<script>
    $(document).ready(function(){
        $('.wrap-slick3').each(function () {
        $(this).find('.slick3').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            infinite: true,
            autoplay: false,
            autoplaySpeed: 6000,

            arrows: true,
            appendArrows: $(this).find('.wrap-slick3-arrows'),
            prevArrow: '<button class="arrow-slick3 prev-slick3"><i class="fa fa-angle-left" aria-hidden="true"></i></button>',
            nextArrow: '<button class="arrow-slick3 next-slick3"><i class="fa fa-angle-right" aria-hidden="true"></i></button>',

            dots: true,
            appendDots: $(this).find('.wrap-slick3-dots'),
            dotsClass: 'slick3-dots',
            customPaging: function (slick, index) {
                var portrait = $(slick.$slides[index]).data('thumb');
                return '<img src=" ' + portrait + '" class="thumbnail-image"/><div class="slick3-dot-overlay"></div>';
            },
        });
    });
    var width = $('.wrap-pic-w > img').width();
    var heightSize = width * 1.235;
    $('.wrap-pic-w > img').css({ 'height': heightSize + 'px' });
    var width2 = $('.thumbnail-image').width();
    var heightSize2 = width2 * 1.264;
    $('.thumbnail-image').css({ 'height': heightSize2 + 'px' });

    })
  </script>  
<script>
    $(document).ready(function () {
        $('.addToCartInQuickly').click(function (e) {
            e.preventDefault();
            const id = $(this).attr('id');
            $.post({
                url: '/add-to-cart',
                data: { id: id },
                success: function (data, status) {
                    location.reload();
                }
            })
        });

    })

</script>