<!-- Product -->


<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			{{#if noMatched}}
				<h3 class="ltext-103 cl5">
					{{noMatched}}
				</h3>
			{{else}}
				<h3 class="ltext-103 cl5">
					{{Matched}}
				</h3>
			{{/if}}
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			
			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Lọc
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Tìm kiếm
				</div>
				<div id="info-about-num-product">
					<span id="begin-product"></span>
					<span>&ensp;-&ensp;</span>
					<span id="end-product"></span>
					<span>&ensp;trong tổng số&ensp;</span>
					<span id="total-product">{{total}}</span>
				</div>
			</div>

			<!-- Search product -->
			
			<!-- Search product by title -->

			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form action="/search-title" metod = "GET" class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search_title"
						placeholder="Nhập tên sách cần tìm">
				</form>
			</div>

			<!-- Search product by author -->

			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form action="/search-author" metod = "GET" class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search_author"
						placeholder="Nhập tên tác giả cần tìm">
				</form>
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Nhà xuất bản
						</div>


						<!-- hbs lọc theo publisher -->
						<ul class="filter-tope-group m-tb-10">
							{{# each publish }}
							<li class="p-b-6">
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
									data-filter=".{{this.publisherID}}">
									{{this.publisher}}
								</button>
							</li>
							{{/each}}

						</ul>
						<!-- end hbs lọc theo publisher -->

					</div>


					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sắp xếp
						</div>

						<form class="d-inline-block" id="check">
						<div class="form-check">
							<label class="form-check-label" for="0">
								<input type="radio" class="form-check-input" id="0" name="checkSort" value="0" onclick = "Send()">Sắp xếp theo tên
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label" for="1">
								<input type="radio" class="form-check-input" id="1" name="checkSort" value="1" onclick = "Send()">Sắp xếp theo giá tăng dần
							</label>
						</div>						
						<div class="form-check">
							<label class="form-check-label" for="-1">
								<input type="radio" class="form-check-input" id="-1" name="checkSort" value="-1" onclick = "Send()">Sắp xếp theo giá giảm dần
							</label>
						</div>						    
						</form>
					</div>


					<script type="text/javascript">
       					function Send(){
       						var url = location.href;
       						url += "&sort=" + encodeURIComponent(document.getElementsByName("checkSort").value);
       						window.location.href = url;
       					}
    				</script>


					<!-- hbs lọc theo categories -->
					<div class="filter-col4 p-b-27 ">
						<div class="mtext-102 cl2 p-b-15">
							Thể loại
						</div>
						<div class="flex-w p-t-4 m-r--5 filter-tope-group">
						<button class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5 "data-filter="*">Tất cả</button>
						{{# each categories }}			
							<button class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5 "data-filter=".{{this.categoriesID}}">
								{{this.categories}}
							</button>
						{{/ each }}
							
						</div>
					</div>
					<!-- end hbs lọc theo categories -->
				</div>
			</div>
		</div>

		<div class="row isotope-grid">

			<!-- hbs hiễn thị sản phẩm -->
			{{# each items }}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{{this.categoriesID}}} {{{this.publisherID}}}">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src={{this.img.[0]}} alt="IMG-PRODUCT" width="270" height="360">
						<a href="" id="{{this.id}}"
							class="btn-show-quickly block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
							Xem nhanh
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="/product-detail?id={{this.id}}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{this.title}}
							</a>

							<span class="stext-105 cl3">
								{{this.price}}₫
							</span>
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">
							<a href="#" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
								<i class="zmdi zmdi-shopping-cart"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			<!-- end hbs hiễn thị sản phẩm -->
		</div>
		<!-- Pagination -->
		<div class="flex-c-m flex-w w-full p-t-45">
			<ul id="page-number">
				<a class="first-page">
					<li>&lt;&lt;</li>
				</a>		
			</ul>
		</div>
	</div>
</section>
<!-- Modal1 -->

<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
	<div class="overlay-modal1 js-hide-modal1"></div>
	<div class="container">
		<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
			<button class="how-pos3 hov3 trans-04 js-hide-modal1">
				<img src="images/icons/icon-close.png" alt="CLOSE">
			</button>
			<div id="popUp" class="row"></div>
		</div>
	</div>
</div>