<!-- Product -->


<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			{{#if total}}
				<h3 class="ltext-102 cl5">
					{{{Matched}}}
				</h3>
			{{else}}
				<h3 class="ltext-102 cl5">
					{{{noMatched}}}
				</h3>
			{{/if}}
		</div>

		<!--=====Sort -->
		<div class="flex-sb m-tb-10 menu-bar">
			<div class="flex-b filter-and-sort">
				<div class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 pad-5 flex-c-m">
					<a class="stext-106 cl6  bor3 m-tb-5" id="sort-by-title" name="title">
						A-Z
					</a>
				</div>
				<div class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 pad-5 flex-c-m">
					<a class="stext-106 cl6 bor3 m-tb-5" id="sort-by-asc-price" name="asc-price">
						Thấp-Cao
					</a>
				</div>
				<div class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 pad-5 flex-c-m">
					<a class="stext-106 cl6  bor3 m-tb-5" id="sort-by-desc-price" name="desc-price">
						Cao-Thấp
					</a>
				</div>
			</div>
			<div class="search-and-result flex-t">
				<div id="info-about-num-product" class="flex-c-m stext-106 cl6 size-105 m-r-8 m-tb-4">
					<span id="begin-product"></span>
					<span>&ensp;-&ensp;</span>
					<span id="end-product"></span>
					<span>&ensp;/&ensp;</span>
					<span id="total-product">{{total}}</span>
				</div>
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Lọc
				</div>
				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Tìm kiếm
				</div>
			</div>
		</div>
		<!--====Search and filter -->
		<div class="flex-w flex-sb-m p-b-52">

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form action="/search" method = "GET" class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="keyword"
						placeholder="Nhập từ khóa cần tìm">
				</form>
			</div>


			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="flex-sb wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Nhà xuất bản
						</div>


						<!-- hbs lọc theo publisher -->
						<form class="filter-tope-group m-tb-10" id="filter-by-publisher" autocomplete="off">
							{{#each publish}}
							<label>
								<input type="checkbox" name="{{this.publisherID}}"
									class="filter-by-publisher p-b-6 stext-106 cl6 hov1 bor3 trans-04 m-r-10 m-tb-5">
								{{this.publisher}}
								</input>
							</label>
							{{/each}}

						</form>
						<!-- end hbs lọc theo publisher -->
					</div>					
					<!-- hbs lọc theo categories -->
					<div class="filter-col1 p-b-27 ">
						<div class="mtext-102 cl2 p-b-15">
							Thể loại
						</div>
						<form class="filter-tope-group m-tb-10" id="filter-by-categories" autocomplete="off"> 
							{{#each categories}}
							<label>
								<input type="checkbox" name="{{this.categoriesID}}"
									class="filter-by-category p-b-6 stext-106 cl6 hov1 bor3 trans-04 m-r-10 m-tb-5">
								{{this.categories}}
								</input>
							</label>
							{{/each}}
						</form>
					</div>
					<div class="filter-col1 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Khoảng giá <span class = "txt-orange">(*)</span>
						</div>
						<form>
							<div class="form-group">
								<label>Từ</label>
								<input type="number" class="form-control" value="0" placeholder="Trên 0₫" name="minPrice"></input>
							</div>
							<div class="form-group">
								<label>Đến</label>
								<input type="number" class="form-control" value="100000" placeholder="Dưới 1 000 000₫" name="maxPrice"></input>
							</div>
							<label id="txt-err-price" class="txt-err">Điền khoảng giá phù hợp</label>
							<button id="filter-by-price" type="button" class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 btn-cus">
								Áp dụng
							</button>
						</form>
					</div>
					<!-- end hbs lọc theo categories -->
				</div>
			</div>
		</div>

		<div class="row isotope-grid">

			<!-- hbs hiễn thị sản phẩm -->
			{{#each items}}
			<div id="{{this.id}}" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{{this.categoriesID}}} {{{this.publisherID}}}">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src={{this.img.[0]}} alt="IMG-PRODUCT" width="270" height="360">
						<a href=""
							class="btn-show-quickly block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
							Xem nhanh
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="/product-detail?id={{this.id}}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{this.title}}
							</a>

							<span class="stext-105 cl3 txt-err show-err">
								{{this.price}}₫
							</span>
						</div>

						<div class="block2-txt-child2 flex-r p-t-3">
							<a id="addToCart" href="" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
								<i class="zmdi zmdi-shopping-cart"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			<!-- end hbs hiễn thị sản phẩm -->
		</div>
		<!-- Pagination -->
		<div class="flex-c-m flex-w w-full p-t-45">
			<ul id="page-number">
				<a class="first-page">
					<li>&lt;&lt;</li>
				</a>		
			</ul>
		</div>
	</div>
</section>
<!-- Modal1 -->

<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
	<div class="overlay-modal1 js-hide-modal1"></div>
	<div class="container">
		<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
			<button class="how-pos3 hov3 trans-04 js-hide-modal1">
				<img src="images/icons/icon-close.png" alt="CLOSE">
			</button>
			<div id="popUp" class="row"></div>
		</div>
	</div>
</div>